/*Starting CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}
/* The code above is a CSS Reset */

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    /* MIN HEIGHT ADDED SO THAT WE CAN APPLY FLEX GROW TO DISTRIBUTE EXTA SPACE */
}
/* The code above creates all the sections flex items which allows them to grow and absorb space as needed */

header,ul{
    display: flex;
    /* This allows  us to align the header and its childs as intended */
}
nav{
    min-width: 400px
}
ul{
    justify-content: space-evenly;
    gap: 6px;
}
li,a{
    text-decoration: none;
    list-style-type: none
    /* removes the bullet points and underline texts; */
}

header{
    margin-bottom: auto;
    justify-content: flex-end;
    /* Aligns header to right */
    margin-top: 10px;
    min-width: 1000px;
    /* max width added to achieve the extra margin look */

}
.headerlogo{
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    font-weight: 700;
    /* This code pushes the element away from its links */
}

.section1,footer{
    background-color: #1f2937;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
li,a,p{
    font-size: 18px;
    color: #E5E7EB;
}
.section1,.section2,.section3,.section4{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* MADE A FLEX SO THAT WE CAN ALIGN HORZ */
    align-items: center;
    min-width: 1000px;
    justify-content: center;
}
.section3{
    background-color: #E5E7EB;
}

.row{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 35px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}
.hero-right,.hero-left{
    flex: 1;
}

img{
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 10px white;
}
 .hero-right{
    display: flex;
    justify-content: flex-end;
 }
 .hero-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .cta-btn{
    background-color: #3882F6;
    color: white;
    min-width:max-content;
    padding: 8px 30px;
    border-radius: 10px;
    width: 20px;
    font-weight: 700;
 }
 h2{
    margin-bottom: 40px;
    font-size: 36px;
 }
 .flex-item{
    height: 150px;
    width: 150px;
    background-color: transparent;
    border: #3882F6 solid 4px;
    border-radius: 12px;
    flex: 0 1 auto;

 }
.row2{
    display: flex;
    justify-content: center;
    gap: 24px
    ;
    
}
.infowrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bottomtxt{display: flex;
    max-width: 672px;
    max-height: 150px;
    justify-content: center;
    gap: 20px;


}
.ptext{
    flex: 1 1 auto;
    font-size: 14px;
    max-width:150px;

}
.quote{
    max-width: 672px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
.quotename{
    text-align: right;
    width: 672px;
    font-weight: bold;
    font-size: 20px;
}
.section3cntr{
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    flex: 0 1 auto;
    align-items: flex-end;
}

footer{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}