/*Starting CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* The code above is a CSS Reset */

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    /* MIN HEIGHT ADDED SO THAT WE CAN APPLY FLEX GROW TO DISTRIBUTE EXTA SPACE */
}
/* The code above creates all the sections flex items which allows them to grow and absorb space as needed */

header,ul{
    display: flex;
    /* This allows  us to align the header and its childs as intended */
}
nav{
    min-width: 400px
}
ul{
    justify-content: space-evenly;
    gap: 6px;
}
li,a{
    text-decoration: none;
    list-style-type: none
    /* removes the bullet points and underline texts; */
}

header{
    margin-bottom: auto;
    justify-content: flex-end;
    /* Aligns header to right */
    margin-top: 10px;
    min-width: 1000px;
    /* max width added to achieve the extra margin look */

}
.headerlogo{
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    /* This code pushes the element away from its links */
}

.section1,footer{
    background-color: #1f2937;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
li,a,p{
    font-size: 18px;
    color: #E5E7EB;
}
.section1,.section2,.section3,.section4{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* MADE A FLEX SO THAT WE CAN ALIGN HORZ */
    align-items: center;
    min-width: 1000px;
}
.section3{
    background-color: #E5E7EB;
}

.row{
    display: flex;
    flex: 1;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}
.hero-right,.hero-left{
    flex: 1;
}

img{
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 10px white;
}
 .hero-right{
    display: flex;
    justify-content: flex-end;
 }
 .hero-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .cta-btn{
    background-color: #3882F6;
    color: white;
    max-width:max-content;
    padding: 14px 30px;
    border-radius: 10px;
 }
 h2{
    margin-top: auto;
 }